# ===============================
# Environnements virtuels
# ===============================
env/
venv/
.venv/

# ===============================
# Fichiers Python compilés
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Fichiers Django sensibles
# ===============================
.env
*.sqlite3
db.sqlite3

# ===============================
# Fichiers statiques collectés
# ===============================
staticfiles/
media/

# ===============================
# Migrations (optionnel)
# ===============================
# app_name/migrations/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE / éditeurs
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
