*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  /*max-width: 960px;*/
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.rar{
	display:flex;
}

.izy-roa{
	display:flex;
}

.izy-tsi-1-1{
	flex: 1 0 50px;
	text-align: center;
	border: thick double #32a1ce;
}

.navbar{
	display:flex;
}

.menu{
	display:flex;
	justify-content: flex-end;
}

.arbre{
  min-width: 200;
  background: #F5F66C;
}

.cors{
	 background: #F5F22C;
 	display:flex;
    flex-direction: row;
 	flex-grow:1;
}

nav{
  background: #333;
}

.arbre{
	flex-basis:300px;
}

.block{
	flex-grow: 1
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav p{
  color: #fff;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #555;
}
/* flex styles */


